---
layout: layouts/page.njk
title: Research
permalink: /research-feature/
---
{% from "partials/selected-pubs.njk" import selectedPublications %}
{% set researchView = "feature" %}
{% include "partials/research-top.njk" %}

<section class="section research-feature">
  {% for topic in research %}
    <article class="research-feat">
      <p class="research-feat__kicker">Theme {% if loop.index < 10 %}0{% endif %}{{ loop.index }}</p>
      <h2 class="research-topic__title">{{ topic.title }}</h2>
      <div class="research-topic__body">{{ topic.body | markdown | safe }}</div>
      {{ selectedPublications(publications | resolvePublications(topic.publications)) }}
    </article>
  {% endfor %}
</section>
